* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
  font-weight: 500;
}
img {
  height: 100%;
  width: 100%;
}

.container {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  height: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 6rem;
  align-items: center;
  gap: 20px;
}
.navbar-container > div {
  height: 40px;
}

.grow-list {
  flex-grow: 1;
  padding: 0.75rem 2rem;
}
.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.list-item {
  color: grey;
  font-size: 16px;
}
.list-item:hover {
  color: black;
  cursor: pointer;
}

.nav-button {
  border-radius: 10px;
  background-color: #5a20cb;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-align: center;
}

.banner-container {
  display: flex;
  padding-left: 6rem;
}

.banner-container > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-basis: 28%;
}

.banner-container > div:nth-child(2) {
  flex-basis: 72%;
  display: flex;
  justify-content: flex-end;
}

.heading-text {
  margin-top: 10rem;
  font-size: 3.75rem;
  font-weight: 600;
  color: rgb(26, 6, 55);
  line-height: 5rem;
}
.description {
  font-size: 1rem;
  color: grey;
}

.btn {
  display: inline-block;
  font-size: 14px;
  padding: 1.25rem 2.75rem;
  margin-top: 2rem;
}

span {
  color: #5a20cb;
}

.banner-container > div:nth-child(2) > img {
  width: 90%;
}
